In [ ]:
# Data  Science Tools and Ecosystem

**Objectives**
* Python
* R
* Ggplot

In [ ]:
# In this notebook, Data Science tools and ecosystems are summrized

# Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. SQL
4. Julia

##  Some of the commonly used libraries used by Data Scientists include:
1. Ggplot2
2. Pandas
3. Seaborn
4. NumPy

## Data Science Tools
|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
John Malysz